<div class="menu position-fixed">
    <div class="boxImg" routerLink="/">
        <img class="card-img" src="https://www.freepnglogos.com/uploads/tesla-logo-png-20.png" alt="">
    </div>
    <h3 class="text-center pt-5 pb-2">Menu</h3>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="/admin">Products</a>
        <a class="list-group-item list-group-item-action" routerLink="category">Categories</a>
        <a class="list-group-item list-group-item-action" routerLink="account">Account</a>
    </div>
</div>