<div class="toggle " id="headerMobile">
    <div class="row align-items-center">
        <div class="col-6 col-md-6">
            <div class="boxImg" routerLink="/">
                <img class="card-img" src="https://www.freepnglogos.com/uploads/tesla-logo-png-20.png" alt="">
            </div>
        </div>
        <div class="col-6 col-md-6">
            <button type="button" class="btn toggBut" btn-lg btn-block (click)="openMenuMobile()" id="but">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>
</div>
<div class="modalMobile d-none" id="modalMobile">
    <div class="listMobile position-relative">
        <div id="closeMobileMenu" (click)="closeMenuMobile()"><i class="fa-solid fa-x"></i></div>
        <div class="menuMobile">
            <h3 class="text-center pt-5 pb-2">Menu</h3>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" routerLink="/admin">Products</a>
                <a class="list-group-item list-group-item-action" routerLink="category">Categories</a>
                <a class="list-group-item list-group-item-action" routerLink="account">Account</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 menu pt-3 position-relative">
            <app-menu></app-menu>
        </div>
        <div class="col-lg-10">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>