footer {
    height: 80px;
    bottom: 0;
}

p {
    font-size: 14px;
    color: rgb(130, 130, 130);
    padding-top: 33px;
    margin-left: -10px;
    cursor: pointer;
}

.twitter {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: rgb(130, 130, 130);
}